.content {
  background: repeating-linear-gradient(
    45deg,
    #44444499,
    #44444499 8px,
    #55555599 8px,
    #55555599 16px
  );
  border-radius: 0.4rem;
  padding: 1rem;
  box-shadow: inset 0rem 0rem 0.5rem 0.5rem #44444499;
  border: 1px solid #555555;
  // margin-bottom: 1rem;
  transition: transform 200ms;

  &:hover {
    z-index: 2;
    background-color: #dddddd;
    background: repeating-linear-gradient(
      45deg,
      #eeeeee,
      #eeeeee 8px,
      #dddddd 8px,
      #dddddd 16px
    );
    color: #333333;
    transform: scale(1.05);
    box-shadow:
      inset 0rem 0rem 0.5rem 0.5rem #eeeeee,
      rgba(0, 0, 0, 0.35) 0px 5px 15px 10px;
  }
}

.card {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0.5rem;

  position: sticky;
  top: 7rem;

  .title {
    max-width: 24ch;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding-bottom: 0.4rem;
  }

  .director {
    font-size: 0.8rem;
    margin-block-start: 0.2rem;
    margin-block-end: 0.4rem;
    .name {
      font-size: 0.9rem;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // display: inline-block;
    }
  }

  .review {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-items: start;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: 0.2rem;

    .review-name {
      font-size: 0.8rem;
    }
  }

  .duration {
    font-size: 0.9rem;
  }

  .tele7jours {
    color: inherit;
    // text-decoration: none;
    font-size: 0.8rem;
  }
}
