<div class="content" [ngStyle]="{ height: height }">
  <div class="card">
    @if (program()) {
      <span>{{ program()?.startTime | date: "HH:mm" }}</span>
      <span class="title">{{ program()?.title }}</span>
      @if (content && content.detail) {
        @if (picture_visible()) {
          <program-picture
            [href]="content.detail.informations.sharingURL"
            [src]="picture"
            [loaded]="loaded"
            [alt]="content.detail.informations.title"
          />
        }
        @if (content.detail.informations.personnalities) {
          <p class="director">
            {{ content.detail.informations.personnalities[0].prefix }}
            <span class="name">
              {{
                content.detail.informations.personnalities[0]
                  .personnalitiesList[0].title
              }}
            </span>
          </p>
        }
        <div class="review">
          @for (review of content.detail.informations.reviews; track $index) {
            <span class="review-name">{{ review.name }}</span>
            <star-content
              [isTelerama]="review.stars.type === 'telerama'"
              [number]="review.stars.value"
            />
          }
          <a
            class="tele7jours"
            [href]="
              'https://www.programme-television.org/recherche?q=' +
              content.detail!.informations.title
            "
            target="_blank"
            >Télé 7 jours</a
          >
        </div>
      }
      @if (content) {
        <span class="duration"
          >Durée: {{ this.duration | hourMinute }} min</span
        >
      }
    }
  </div>
</div>
