<div class="content">
  @for (timeSlice of timeSlices(); track $index) {
    <div class="column">
      <p class="dayName">{{ getDay($index) | date: "fullDate" }}</p>
      <!-- @for (content of timeSlice.contents; track $index; let idx = $index) { -->
      @for (
        content of timeSlice.contents;
        track $index;
        let idx = $index;
        let first = $first
      ) {
        <!-- @if (first) { -->
        <program
          [program]="content"
          [picture_visible]="content.next_episode ? false : true"
        />
        <!-- } -->
      }
    </div>
  }
</div>
