<header>
  <div class="main-content">
    <h1>My TV Week Program</h1>
    <div class="button-group">
      <a
        #anchorRef
        id="morning_id"
        class="button"
        [routerLink]="['/home']"
        fragment="morning"
        [queryParams]="{ channel: option }"
        >Matin</a
      >
      <a
        #anchorRef
        id="afternoon_id"
        class="button"
        [routerLink]="['/home']"
        fragment="afternoon"
        [queryParams]="{ channel: option }"
        >Après-midi</a
      >
      <a
        #anchorRef
        id="early-evening_id"
        class="button"
        [routerLink]="['/home']"
        fragment="early-evening"
        [queryParams]="{ channel: option }"
        >{{ bSelectSize ? "D.soirée" : "Début de soirée" }}</a
      >
      <a
        #anchorRef
        id="evening_id"
        class="button"
        [routerLink]="['/home']"
        fragment="evening"
        [queryParams]="{ channel: option }"
        >Soirée</a
      >
      <a
        #anchorRef
        id="night_id"
        class="button"
        [routerLink]="['/home']"
        fragment="night"
        [queryParams]="{ channel: option }"
        >Nuit</a
      >
    </div>
    <div class="right-group">
      <div class="select-group">
        <span>Chaîne :</span>
        <img-select
          [items]="channels"
          [initIndex]="option ? option : '0'"
          bindLabel="name"
          bindValue="channelNum"
          bindSrc="logoPath.URLLogoChannel"
          (selected)="onSelected2($event)"
          class="select-channel"
        />
        <button (click)="toggleSettings()" [class.open]="bSettings">
          <svg
            width="25px"
            height="25px"
            viewBox="0 0 24 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M5 6.5H19V8H5V6.5Z" fill="white" />
            <path d="M5 16.5H19V18H5V16.5Z" fill="white" />
            <path d="M5 11.5H19V13H5V11.5Z" fill="white" />
          </svg>
        </button>
      </div>
    </div>
    @if (bSettings) {
      <settings @openClose />
    }
  </div>
</header>
