@use "sass:color";
@use "sass:math";

:host {
  --hue-bg-0: 220;
  --sat-bg-0: 0%;
  --light-bg-0: 100%;
  --trans-bg-0: 0.2;
  --hue-bg-1: 148;
  --sat-bg-1: 25%;
  --light-bg-1: 75%;
  --trans-bg-1: 0.2;
  --hue-bg-2: 76;
  --sat-bg-2: 50%;
  --light-bg-2: 50%;
  --trans-bg-2: 0.2;
  --hue-bg-3: 4;
  --sat-bg-3: 75%;
  --light-bg-3: 25%;
  --trans-bg-3: 0.2;
  --hue-bg-4: 292;
  --sat-bg-4: 100%;
  --light-bg-4: 0%;
  --trans-bg-4: 0.2;
}

$base-color: #ffffff;

$angle: math.div(360, 5);

@for $i from 0 through 4 {
  @debug $i;
  // $hue-dec: 360 - 120 * $i;
  $hue-dec: 220 - $angle * $i;
  @debug "$hue-dec: #{$hue-dec}";
  // @debug calc((100 - 10 * $i) / 100);
  // $sat-dec: math.percentage(calc((100 - 5 * $i) / 100));
  $sat-dec: math.percentage(calc((25 * $i) / 100));
  @debug "$sat-dec: #{$sat-dec}";
  // $light: math.percentage(calc((100 - 50 * $i) / 100));
  $light: math.percentage(calc((100 - 25 * $i) / 100));
  @debug "$light: #{$light}";
  $adjust-color: color.adjust(
    $base-color,
    $hue: $hue-dec,
    $saturation: $sat-dec,
    $lightness: $light
  );
  // @debug "$adjust-color: #{$adjust-color}";
  $transparency: 0.2;
  @debug "$transparency: #{$transparency}";
  $hsla: hsl($hue-dec, $sat-dec, $light, $transparency);
  @debug "$hsla: #{$hsla}";

  .bg-#{$i} {
    // background-color: rgba($adjust-color, $transparency);
    background-color: hsl($hue-dec, $sat-dec, $light, $transparency);
  }
}
@for $i from 0 through 4 {
  .bg-#{$i} {
    // background-color: rgba($adjust-color, $transparency);
    background-color: hsla(
      var(--hue-bg-#{$i}),
      var(--sat-bg-#{$i}),
      var(--light-bg-#{$i}),
      var(--trans-bg-#{$i})
    );
  }
}

.content {
  display: flex;
  flex-direction: column;

  color: white;

  backdrop-filter: blur(2px);
  background-color: #333333ad;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  .timeSlice {
    display: flex;
    text-align: center;
  }

  position: relative;
}

.dayName {
  text-transform: capitalize;
  position: sticky;
  top: 5.5rem;
  background-color: #33333388;
  z-index: 2;
  display: inline-block;
  width: 100%;
  // margin-inline: -0.5rem;
  // border: 0.5rem #33333388;
  outline: 0.5rem solid #33333388;
}
